.buttons-add {
    align-items: center;
    display: none;
    button {
      padding: $pd-0;
      i {
        @include style-icon($fs-1-6,$fs-1-6,$fs-1-6,$fs-1,$color-white);
      }
    }
}
.addItem {
  display: flex;
  @include style-text($fs-0-8, $color-white);
  border: 1px solid $color-white;
  border-radius: $b-r-1-6;
  background-color: transparent;
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}

.heart {
  i {
    @include style-icon($fs-1-6,$fs-1-6,$fs-1-6,$fs-1,$color-white);
    border: none;
  }
}

#closeCart {
  position: absolute;
  top:0;
  right: 0;
  i {
    @include style-icon($fs-2,$fs-2,$fs-2,$fs-1-6,$color-white);
    border: none;
  }
}

.btn-purchase {
  border-color: $color-white;
  color: $color-white;
  padding: 15px 25px;
  border-radius: $b-r-1;
  i.fa-credit-card {
    color: $color-puple;
  }
  i.fa-trash {
    color: $color-red;
  }
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}

.order {
  @extend .btn-purchase;
  background-color: $color-light-blue;
}
.cancel {
  @extend .btn-purchase;
  background-color: $color-red;
}


