#purchase {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.634);
    backdrop-filter: blur(5px);
    .main-purchase {
        margin: $mg-2;
        padding: $pd-1-2;
        width: 95%;
        height: 90%;
        background-color: black;
        border-radius: $b-r-1;
        color: $color-white;
        ul {
            list-style: none; 
            li {
                display: flex;
                justify-content: space-between;
            }
        }
        .total-payment {
            display: flex;
            justify-content: space-between;
        }
        hr {
            color: $color-white;
        }
        .groupBtn-purchase {
            padding-top: $pd-5;
        }
    }
}