//color
$color-black: black;
$color-light-black: #2e2f33;

$color-white: white;

$color-light-green: lightgreen;

//Font

$fs-1 : 1rem;
$fs-1-1 : 1.1rem;

$fs-0-7 : 0.7rem;
$fs-0-8 : 0.8rem;
$fs-0-8 : 0.9rem;
$fs-1-6 : 1.6rem;
$fs-2: 2rem;


//Font-weight

$fw-3 : 300;
$fw-4 : 400;


//Padding
$pd-0: 0;
$pd-0-5 : 0.5rem;
$pd-0-6 : 0.6rem;
$pd-1: 1rem;
$pd-1-2: 1.2rem;


//Margin:

$mg-0 : 0;
$mg-0-8 : 0.8rem;
$mg-2: 2rem;
$mg-10 : 10rem;


//Width:

$width-17-5: 17.5rem;
$width-12-5: 12.5rem; 
$width-11-5: 11.5rem;
//Height:
$height-28-1 : 28.125rem;
$height-18-7: 18.75rem;
$height-11-5: 11.5rem;
$height-15 : 15rem;



//top: 
$t-1-2 : 1.2rem;

//right:
$r-1-6: 1.6rem;

//Border Radius
$b-r-1: 1rem;
$b-r-1-6 : 1.6rem;
$b-r-2: 2rem;


//Border

$bd-1 : 1px;
$bd-2 : 2px;